*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #E2E8F0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.h1 {
  font-weight: bold;
  font-size: 1.3rem;
  font-size: 1.7rem;
}

.h2 {
  font-weight: bold;
  font-size: 1.3rem;
}

.header {
  grid-column: 2/3;
  background-color: white;
  box-shadow: 0 4px 6px -6px black;
  padding: 20px;
  height: 200px;
}
.header .upper-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .upper-content .right-side {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}
.header .upper-content input[type=search] {
  background-color: #E2E8F0;
  border-radius: 10px;
  flex: 1;
  outline: none;
  border: none;
  padding: 5px;
  margin-right: 5%;
}
.header .lower-content {
  display: flex;
  gap: 20px;
  padding: 30px 50px 0px 20px;
}
.header .lower-content .profile-picture {
  width: 80px;
  height: 80px;
}
.header .lower-content .right-side {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .lower-content .profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .lower-content button {
  background-color: #1992D4;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 10px 30px;
}
.header img {
  width: 25px;
  height: 25px;
}
.header .profile-picture {
  width: 50px;
  height: 50px;
}

.sidebar {
  color: white;
  grid-row: 1/span 2;
  background-color: #1992D4;
}
.sidebar .logo-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.sidebar .logo-header img {
  width: 1.5em;
  height: 1.5em;
}
.sidebar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
}
.sidebar ul:nth-child(7) {
  margin-top: 2rem;
}
.sidebar ul img {
  width: 1.2em;
  height: 1.2em;
  color: #E2E8F0;
}
.sidebar li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard-content {
  grid-row: 2/-1;
  background-color: #E2E8F0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
}

.project {
  grid-column: 1/2;
  grid-row: 1/-1;
  margin: 0;
  padding-right: 1rem;
}
.project img {
  width: 2rem;
}
.project .h2 + p {
  color: grey;
}

.project-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(200px, 1fr);
  gap: 1rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 200px;
  background-color: white;
  border-radius: 8px;
  border-left: 8px solid darkorange;
}

.project-title {
  margin-bottom: 1rem;
}

.project-button {
  display: flex;
  align-self: flex-end;
  margin-top: auto;
  gap: 2rem;
}

.announcement {
  margin: 1rem;
}
.announcement .h2 + p {
  color: grey;
}

.announcement-content, .trending-content {
  background-color: white;
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 8px;
}

.announcement-card .h2 {
  margin-top: 1rem;
}
.announcement-card .h2 + p {
  margin-bottom: 1rem;
}

.announcement-title {
  margin-bottom: 1rem;
}

.trending {
  margin: 1rem;
  border-radius: 8px;
}
.trending img {
  width: 3rem;
  height: 3rem;
}

.trending-title {
  margin-bottom: 1rem;
}

.trending-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.trending-profile-username {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */